
<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <CascadingAuthenticationState>
            <LayoutView Layout="@typeof(MainLayout)">
                <h1 class="text-danger">Aqui no hay nada!!!!!</h1>
                <p class="text-danger">Vaya a otra p&aacute;gina de nuestra aplicaci&oacute;n</p>
            </LayoutView>
        </CascadingAuthenticationState>
    </NotFound>
</Router>


