
<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <h1 class="text-danger">Error de dirección</h1>
            <p class="text-danger">Vaya a otra p&aacute;gina de nuestra aplicación</p>
        </LayoutView>
    </NotFound>
</Router>
